body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h2 {    
    font-weight: lighter;
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 20px;
}
.dark-blue {    color:#0a5c71}
.light-blue {   color:#1a95b9}
.spacer-80 {    margin-top: 50px}

#logo {
    height: 227px;
    background: url('../img/logo-lg.png') no-repeat center;
}
.logo-sm {
    height: 93px;
    margin-right: 100px;
    margin-bottom: 20px;
    background: url('../img/logo-sm.png') no-repeat center;
}
.first {
    padding-top: 200px;
	height:990px;
    background-image: radial-gradient(center top, ellipse cover, #07c0dd, #1a95b9);
    background-image: -o-radial-gradient(center top, ellipse cover, #07c0dd, #1a95b9);
    background-image: -ms-radial-gradient(center top, ellipse cover, #07c0dd, #1a95b9);
    background-image: -moz-radial-gradient(center top, ellipse cover, #07c0dd, #1a95b9);
    background-image: -webkit-radial-gradient(center top, ellipse cover, #07c0dd, #1a95b9);
}

.social-links a {
    display: inline-block;
}

.social-links-small a, .social-links a {
    display: inline-block;
}
.social-links-small a {
    margin-right: -2px;
}
.logo-fb, .logo-tw, .logo-g, .logo-in, .logo-email, .logo-pi, .logo-insta, .logo-tumblr {
    display: inline-block;
    background-image: url('../img/social-icons.png');
    width: 47px;
    height: 45px;
}

.logo-fb-small, .logo-tw-small, .logo-g-small, .logo-in-small, .logo-email-small, .logo-pi-small, .logo-insta-small, .logo-tumblr-small {
    display: inline-block;
    width: 24px;
    height: 22px;
    background-size: 217px;
    background-image: url('../img/social-icons.png');
}


/*social icons small*/

.logo-fb-small {background-position: 0 0}
.logo-fb-small:hover {background-position: 0 -22px}

.logo-tw-small {background-position: -27px 0px}
.logo-tw-small:hover {background-position: -27px -22px}

.logo-g-small {background-position: -55px 0px}
.logo-g-small:hover {background-position: -55px -22px}

.logo-in {background-position: -82px 0px}
.logo-in:hover {background-position: -82px -22px} 

.logo-email-small {background-position: -110px 0px}
.logo-email-small:hover {background-position: -110px -22px}

.logo-pi-small {background-position: -138px 0px}
.logo-pi-small:hover {background-position: -138px -22px} 

.logo-insta-small {background-position: -166px 0px}
.logo-insta-small:hover {background-position: -166px -22px}

.logo-tumblr-small {background-position: -193px 0px}
.logo-tumblr-small:hover {background-position: -193px -22px}

/*social icons large*/

.logo-fb {background-position: 0 0}
.logo-fb:hover {background-position: 0 -45px}

.logo-tw {background-position: -55px 0px}
.logo-tw:hover {background-position: -55px -45px} 

.logo-g {background-position: -111px 0px}
.logo-g:hover {background-position: -111px -45px} 

.logo-in {background-position: -166px 0px}
.logo-in:hover {background-position: -166px -45px} 

.logo-email {background-position: -221px 0px}
.logo-email:hover {background-position: -221px -45px} 

.logo-pi {background-position: -277px 0px}
.logo-pi:hover {background-position: -277px -45px} 

.logo-insta {background-position: -333px 0px}
.logo-insta:hover {background-position: -333px -45px} 

.logo-tumblr {background-position: -388px 0px}
.logo-tumblr:hover {background-position: -388px -45px}

.second {
    width: 990px;
    padding-top: 80px;

}

.contact {
    margin-top: 120px;
    margin-bottom: 120px;
}
#contact-form {
}

.avatar, .avatar-back {
    background-image: url('../img/avatar-pict.png');
    background-position: 0px 0px;
}
.avatar-back {
    background-position: 0px -124px;
}
#panel-avatar {
    width: 123px;
    height: 123px;
}
.reference a {
    display: inline-block;
}
.logo-prace, .logo-holmes-place, .logo-svojtka {
    margin: 22px; 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}
.logo-prace:hover, .logo-holmes-place:hover, .logo-svojtka:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

.logo-prace {
    display: inline-block;
    background-image: url('../img/logo-prace.png');
    width: 96px;
    height: 26px;
}
.logo-holmes-place {
    display: inline-block;
    background-image: url('../img/logo-holmes-place.png');
    width: 100px;
    height: 41px;
}
.logo-svojtka {
    display: inline-block;
    background-image: url('../img/logo-svojtka.png');
    width: 129px;
    height: 26px;
}
footer {
    color: #c7c8c8;
    font-size: 10px;
}
