{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span5 pull-both">
                <h1 class="page-header">Socialman</h1>
            </div>
        </div>
    </div>
{% endblock %}
